<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration name="SitecoreCinema">
          <targetDataStore physicalRootPath="$(sourceFolder)\Project\SitecoreCinema\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
						<include name="Layouts" database="master" path="/sitecore/layout/Layouts/SitecoreCinema" />
						<include name="Templates" database="master" path="/sitecore/templates/SitecoreCinema" />
						<include name="Renderings" database="master" path="/sitecore/layout/Renderings/Feature/SitecoreCinema" />
						<include name="Media" database="master" path="/sitecore/media library/Images/SitecoreCinema" />
						<include name="GlobalContent" database="master" path="/sitecore/media library/Images/SitecoreCinema" />
					</predicate>

					<dataProviderConfiguration enableTransparentSync="false" />

					<syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
