<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Feature.GatedContent"
                               description="Serialization rules for Feature Feature.GatedContent"
                               extends="Helix.Feature"
                               dependencies="Foundation.Serialization"
                               patch:after="configuration[@name='Foundation.Serialization']">
                    <predicate>
                        <include name="Gated Content Edit Frame Buttons - Gated Form" database="core" path="/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Gated Form"></include>
                        <include name="Gated Content Edit Frame Buttons - Redirect" database="core" path="/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Gated Form Redirects"></include>
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>