<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <services>
            <configurator type="Feature.GatedContent.DI.Configurator, Feature.GatedContent"></configurator>
        </services>
        <mvc>
            <precompilation>
                <assemblies>
                    <assemblyIdentity name="Feature.GatedContent" />
                </assemblies>
            </precompilation>
        </mvc>
        <log4net>
            <appender name="FeatureGateContentFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
                <file value="$(dataFolder)/logs/Feature.GatedContent.log.{date}.{time}.txt" />
                <appendToFile value="true" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
                </layout>
            </appender>

            <logger name="Sitecore.Feature.GatedContent" additivity="false">
                <level value="DEBUG" />
                <appender-ref ref="FeatureGateContentFileAppender" />
            </logger>
        </log4net>
    </sitecore>
</configuration>