<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Feature.GatedContent.Pipelines.LoadRoutes,Feature.GatedContent"
                   patch:before="processor[@type='Sitecore.PathAnalyzer.Services.Pipelines.Initialize.WebApiInitializer, Sitecore.PathAnalyzer.Services']"
                   />
      </initialize>
    </pipelines>
  </sitecore>
</configuration>
