@using LearnEXM.Foundation.Extensions.Extensions.AssetsHelper
@using LearnEXM.Feature.SitecoreCinema
@model List<LearnEXM.Feature.SitecoreCinema.Models.Proxies.ConcessionStand.ConcessionPriceItemProxy>

@if (Model != null && Model.Any())
{
  <ul>
    @foreach (var price in Model)
    {
      <li>
        <a href=" @price.PurchaseLink">
          @price.DescriptionField.Value - $@price.CostField.Value
        </a>
      </li>
    }
  </ul>

}