@using LearnEXM.Project.SitecoreCinema.Model;
@using LearnEXM.Project.SitecoreCinema;
@model LearnEXM.Project.SitecoreCinema.Model.LobbyOptionsViewModel
<h2>Lobby Options</h2>

<br />
@if (Model != null)
{

  <a href="@(ProjConst.Links.SitecoreCinema.Lobby.BuyConcessions )">Buy Concessions</a>
  <br />
  <a href="@(ProjConst.Links.SitecoreCinema.Lobby.WatchMovie)">Watch Movie</a>
}
<br />