@using LearnEXM.Project.SitecoreCinema.Model;
@using LearnEXM.Project.SitecoreCinema;

<h2>Welcome to Sitecore Cinema. Let's start your journey</h2>

<br />
<a href="@ProjConst.Links.SitecoreCinema.Register">Register as a new contact - Auto</a>
<br />
<a href="@ProjConst.Links.SitecoreCinema.RegisterViaForm">Register as a new contact - Form</a>