@using LearnEXM.Project.SitecoreCinema.Model;

<h2>Welcome to Sitecore Cinema. Let's start your journey</h2>

<br/>
<a href="@WebConst.Links.SitecoreCinema.Register">Register as a new contact - Auto</a>
<br/>
<a href="@WebConst.Links.SitecoreCinema.RegisterViaForm">Register as a new contact - Form</a>