@using LearnEXM.Project.SitecoreCinema.Model;
@model LearnEXM.Project.SitecoreCinema.Model.SelfServiceMachineViewModel

<h2>Self Service Machine</h2>
<br />

<a href="@Model.TicketLink() ">Buy Ticket</a>