@using LearnEXM.Project.SitecoreCinema.Model
@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>SitecoreCinemaLayout</title>
  <link href="~/Assets/Styles/SitecoreCinema.css" rel="stylesheet" />
  @if(IsSectionDefined("addToHead"))
      {
        @RenderSection("addToHead", required: false);
      }
</head>
<body>
  <div>
    <h1>Sitecore Cinema</h1>
    <br />
    <div class="main">
      @Html.Sitecore().Placeholder(WebConst.PlaceHolders.Main)
    </div>
    <div class="right-aside">
      @Html.Sitecore().Placeholder(WebConst.PlaceHolders.RightAside)
    </div>
  </div>
</body>
</html>