@model LearnEXM.Feature.ExperienceProfileFacetTab.Models.EpExpressCinemaVisitorInfoModel

@if (Model != null)
{
  <div>The ID is @Model.ContactId</div>
  <div>Favorite Movie: @Model.FavoriteMovie</div>
}