
@model LearnEXM.Feature.ExperienceProfileFacetTab.Models.EpExpressDemoModel

  <h3>This was source from a cshtml</h3>
<div>The ID is @Model.ContactId</div>
<div>Visited the site @Model.VisitCount</div>