<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Sitecore.Framework.Rules" version="3.3.0" targetFramework="net471" />
  <package id="Sitecore.Framework.Rules.Abstractions" version="3.3.0" targetFramework="net471" />
  <package id="Sitecore.Kernel" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.ListManagement" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.ListManagement.XConnect.Web" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.XConnect" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.XConnect.Collection.Model" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.XConnect.Core" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.XConnect.Segmentation.Predicates" version="9.3.0" targetFramework="net471" />
  <package id="Sitecore.XConnect.Segmentation.Predicates.Model" version="9.3.0" targetFramework="net471" />
</packages>