@using LearnEXM.Feature.WhatWeKnow.SitecoreCinema
@using LearnEXM.Foundation.Extensions.Extensions.AssetsHelper
@model  LearnEXM.Foundation.WhatWeKnowBullets.Interfaces.ITreeNode


@{
  Html.Assets().Styles.Add(ProjectConst.Assets.WhatWeKnowCss);
  Html.Assets().Scripts.Add(ProjectConst.Assets.WhatWeKnowJs);
}

@if (Model != null)
{

  <li>
    @Model.Title

    @if (!string.IsNullOrEmpty(Model.Value))
    {
      <span> : </span>@Model.Value
    }
  </li>

  <ul>

    @if (Model.ChildBullets != null && Model.ChildBullets.Any())
    {

      foreach (var bullet in Model.ChildBullets)
      {
        @Html.Partial(ProjectConst.Views.WhatWeKnow.Bullet, bullet)
      }
    }
  </ul>
}