@using LearnEXM.Feature.WhatWeKnow.SitecoreCinema
@model  LearnEXM.Feature.WhatWeKnow.SitecoreCinema.Models.WhatWeKnowViewModel

<h3>
  Facet Data (
  @if (Model.KnownDataXConnect?.FacetData?.FacetTree != null)
  {
    @Html.Raw(Model.KnownDataXConnect.FacetData.FacetTree.Count);
  }
  )
</h3>

@if (Model != null)
{

  if (Model.KnownDataXConnect?.FacetData?.FacetTree != null && Model.KnownDataXConnect.FacetData.FacetTree.Any())
  {
    foreach (var facetReport in Model.KnownDataXConnect.FacetData.FacetTree)
    {
      if (facetReport != null)
      {

        <h4>@facetReport.Title</h4>

        <ul>

          @if (facetReport.Leaves != null && facetReport.Leaves.Any())
          {
            foreach (var bullet in facetReport.Leaves)
            {
              @Html.Partial(ProjectConst.Views.WhatWeKnow.Bullet, bullet)

            }
          }
        </ul>
      }

    }
  }

}