@using LearnEXM.Project.SitecoreCinema.Model;
@using LearnEXM.Project.SitecoreCinema;
@model LearnEXM.Project.SitecoreCinema.Model.ViewModels.LobbyViewModel
<h2>Lobby</h2>

<br />
@if (Model != null)
{

  <a href="@(LearnEXM. Feature.SitecoreCinema.ProjectConst.Links.SitecoreCinema.Lobby.BuyConcessions )">Buy Concessions</a>
  <br />
  <a href="@(LearnEXM.Feature.SitecoreCinema.ProjectConst.Links.SitecoreCinema.Lobby.WatchMovie)">Watch Movie</a>
  <br />
  <a href="@(LearnEXM.Feature.SitecoreCinema.ProjectConst.Links.SitecoreCinema.Landing)">Leave Theater</a>

  @Html.Partial(LearnEXM.Feature.SitecoreCinema.ProjectConst.Views.Concessions.ConcessionStand, Model.ConcessionCategories)
  

}
<br />