@using LearnEXM.Foundation.Extensions.Extensions.AssetsHelper
@using LearnEXM.Project.SitecoreCinema;
@using LearnEXM.Project.SitecoreCinema.Model

@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>SitecoreCinemaLayout</title>
  <link href="~/Assets/Styles/SitecoreCinema.css" rel="stylesheet" />

  @{

    Html.Assets().Scripts.Add(LearnEXM.Foundation.LearnEXMRoot.RootConst.Assets.Vendors.jqueryv360);

    Html.Assets().Styles.Add(LearnEXM.Foundation.LearnEXMRoot.RootConst.Assets.Vendors.FancyTreeCss);
    Html.Assets().Scripts.Add(LearnEXM.Foundation.LearnEXMRoot.RootConst.Assets.Vendors.FancyTreeJs);

    Html.Assets().Styles.Add(LearnEXM.Feature.SitecoreCinema.ProjectConst.Assets.WhatWeKnowCss);
    Html.Assets().Styles.Add(LearnEXM.Feature.SitecoreCinema.ProjectConst.Assets.ConcessionStand);
    Html.Assets().Scripts.Add(LearnEXM.Feature.SitecoreCinema.ProjectConst.Assets.WhatWeKnowJs);
  }

  @Html.Assets().Styles.Render();
</head>
<body>
  <div>
    <h1>Sitecore Cinema</h1>
    <br />
    <div class="main">
      @Html.Sitecore().Placeholder(ProjectConst.PlaceHolders.Main)
    </div>
    <div class="right-aside">
      @Html.Sitecore().Placeholder(ProjectConst.PlaceHolders.RightAside)
    </div>
  </div>

  @Html.Assets().Scripts.Render()
</body>
</html>