@inherits System.Web.Mvc.WebViewPage
@using Feature.Marketing.Email;
@using Sitecore.Mvc
@{
  Layout = null;
}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
  @RenderSection("head", false)
</head>
<body style="margin: 0; padding: 0; word-spacing: normal; background-color:@Const.Styling.HexColors.WhiteSmoke;">
  <p style="display: none">Preheader text</p>
  <div role="article" aria-roledescription="email" lang="en" style="text-size-adjust: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; background-color:@Const.Styling.HexColors.WhiteSmoke;">
    <table role="presentation" style="width: 100%; border: none; border-spacing: 0; color: @Const.Styling.HexColors.OuterSpace; font-size: 12px; line-height: 12px; text-decoration: none;">
      <tr>
        <td align="center" style=" text-align: center; padding: 0;">
          <!--[if mso]>
              <table role="presentation" align = "center" style="text-align: center; width: 600px;>
              <tr>
              <td>
          <![endif]-->
          @RenderBody()
          <!--[if mso]>
          </td>
          </tr>
          </table>
          <![endif]-->
        </td>
      </tr>
    </table>
  </div>
</body>
</html>